.footer {
    padding: 1rem;
    color: #666;
    display: flex;
    align-items: center;
    font-size: 0.9rem;
}

.footer > div {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.footer a {
    color: #006D5B;
    text-decoration: none;
    transition: color 0.2s;
}

.footer a:hover {
    color: #004d40;
}

.separator {
    margin: 0 0.5rem;
    color: #666;
}

.footer-right {
    margin-left: auto;
}
